#section_page_header{
    display: none;
}
.profile{
    margin-left: 25px;
    margin-right: 25px;
}
.profile-card{
	display: flex;
	flex-flow: column nowrap;
}

.banner{
	max-width: 100%;
}

.banner img{
	width: 100%;
}

.profile-info{
	display: flex;
	flex-flow: row nowrap;
	padding-left: 40px;
}
.profile-pic{
    /* background: rgb(136, 134, 134); */
	flex: 10%;
}

.profile-pic img{
    background: rgb(136, 134, 134);
	border-radius: 50%;
	border: 2px solid #fff;
	width: 120px;
	height: 120px;
	position: relative;
	top: -50px;
}
.artist-info{
	flex: 60%;
    margin-left: 10px;
    margin-top: 15px;
	text-transform: uppercase;
}

.artist-name{
	color: #000;
	font-weight: bold;
	line-height: 1rem;
}

.artist-bio{
	color: #666;
	font-weight: bold;
	line-height: 1rem;
}

.art-upload-btn{
    margin-right: 25px;
    margin-top: 15px;
	flex: 30%;
	padding-top: 2px;
}

.art-upload-btn button{
	border:1px solid #000;
    background: #000;
	padding:10px;
    color: white;
	width: auto;
	float: right;
}
.art-upload-btn button:hover{
	border:1px solid #d25b5b;
    color: white;
    background: #d25b5b;
}
/* product-collection */

.heading-collection{
    text-align: center;
    text-transform: uppercase;
}
.collection-list{
    display: flex;
	justify-content:center;
	justify-items:center;
    flex-wrap: wrap;
}
.child-name{
    text-transform: uppercase;
    color: black;
}
.collection-images{
    width:16%;
    text-align: center;
    margin-bottom: 25px;
	margin-right:1.3%;
    min-width:125px;
    background: #d9d7d7;
}