#section_page_header{
    display: none;
}
#success{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #04a504;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
#errorR{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #f75c5c;
    right: -100%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.error{
    color: #f75c5c;
}
.register-product-section{
    margin: 25px;
    overflow: hidden;
}
@media (min-width: 992px){
    .register-banner{
        align-items: center;
    }
}

@media (min-width: 768px){
    .register-banner{
        flex: 40%;
    }

    .register-form{
        flex: 40%;
        align-content: center;
    }
}

@media (min-width: 576px){
    .register-container{
        padding: 10px 4vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
		position:relative;
		overflow:hidden;
    }

    .register-banner{
        flex: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;
        
    }

    .register-banner img{
        flex: 100%;
        object-fit:contain;
		
    }

    .register-form{
        padding-left: 4vw;
        align-self: center;
        flex: 50%;
        display: flex;
        flex-flow: column nowrap;
    }
}
.buttonsave{
    width: 100%;
}
.form-title{
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
	color: black;
    font-size: 22px;
}
.form-group button:hover{
    background: #d25b5b;
    border:1px solid #d25b5b ;
    color: white;
}

.product-collection{
    margin-top: 10px;
}
.product-collection > h3{
	color:black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.category-title{
    text-align: center;
}
.category-list-item{
    display: flex;
	justify-content:center;
	justify-items:center;
    flex-wrap: wrap;
}
.category-image{
    height: 150px;
	object-fit: cover;
/*     width: 100px; */
}
.category-title{
    margin-top:30px;
}
.category-description{
	width:8%;
	color:black;
    text-align: center;
    margin-bottom: 25px;
	margin-right:1.1%;
	min-width:125px;
}
.category-description img{
	background: #d9d7d7;
}
.category-description:nth-child(8n){
	margin-right:0
}
.child-name{
	font-size: 1.6rem;
    font-weight: 400;
	margin:20px 0 5px;
	text-transform:uppercase;
}
.form-control{
	color: black; 
	border: 1px solid black;
    width: 100%;
    margin-bottom: 6px;
}
.buttonsave{
	background: black;
    padding: 9px;
	color: white;
}