#section_page_header{
    display: none;
}
.sellurart{
    margin: 25px;
}
.sell-banner-img{
    position: relative;
}
.sell-form-title{
    color: black;
    font-weight: bold;
    letter-spacing: 4px;
}
.sell{
    position: absolute;
    z-index: 999;
    margin: 0 70px;
    left: 9px;
    right: 0;
    top: 49%; /* Adjust this value to move the positioned div up and down */
    width: 60%;
}
.sell-form{
    margin-top: 1rem;
	display:flex;
}
input{
    width: 80%;
    border: 1px solid black;
}
input::placeholder{
    color: black;
}
.join-us-button{
    background: black;
    cursor: pointer;
    color: white;
	padding: 12px;
}
.join-us-button:hover{
    background: #d25b5b;
    color: white;
}
.sell-banner{
   margin-bottom: 45px;
}

.how-its-works{
    color: black;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1;
    margin-bottom: 20px;
}

.final-thoughts{
     margin-top: 50px;
     margin-bottom: 25px;
}
.error{
    color: lightcoral;
    display: none;
}
.sellurartLink{
	background:black;
	color:white;
	padding:7px;
}
.sellurartLink:hover{
	background:#d25b5b;
	color:white;
}