#section_page_header{
    display: none;
}
#success{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100%;
    background: #04a504;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
#errorR{
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #f75c5c;
    right: -100%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.5s ease-in-out ;
}
.error{
    color: #f75c5c;
}
.profile-view{
  overflow: hidden;
}
.upload-art{
  margin: 25px;
  display: flex;
  justify-content: center;
  flex: 1;

}
.upload-art-container{
    color: black;
    width: 70%;
}
.upload-art-caption{
    color: black;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}
.upload-art-form{
    margin-top: 35px;
}
input{
    border: 1px solid black;
    width: 100%;
    color:black;
    padding:7px;
}
input::placeholder{
    color: black;
    text-transform: uppercase;
    padding: 5px;
}
button{
    width: 100%;
    padding:7px;
   background: black;
   color: white;
   cursor: pointer;
}
button:hover{
    background: #d25b5b;
    border:1px solid #d25b5b ;
    color: white;
}
.existing_image{
    display: flex;
    justify-content: flex-start;
    flex: 1;
}
/* dropzone */
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 100%;
  font-family: sans-serif;
  margin: 25px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: black;
}

#drop-area > p{
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}
#drop-area > label {
  margin-left: 135px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

/* checkbox */
.product-category{
  width: 100%;
}
.category-product-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.product-container { 
  width:8%;
	color:black;
  text-align: center;
  margin-bottom: 25px;
	margin-right:1.1%;
	min-width:125px;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 5px;
    /* margin-left: 10px; */
}
.product-container:nth-child(8n){
	margin-right:0
}
.product-container>img{
	object-fit:cover;
}
.product-container > .checkbox { 
    position: absolute; 
    top: 1px;
    right: 3px;
}
.upload-button{
	margin-top:25px;
	color:white;
}
.upload-button:hover{
	color:white;
}


